<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <base href="/">
  {{{layoutParts.head}}}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--

  Powered by:
      ███████╗ ██████╗██╗   ██╗ ██████╗  ██╗   ██████╗  ██████╗ ██╗   ██╗████████╗███████╗██████╗
     ██╔════╝██╔════╝██║   ██║██╔═══██╗ ╚██╗  ██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝██╔════╝██╔══██╗
    ███████╗██║     ██║   ██║██║   ██║  ╚██╗ ██████╔╝██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
   ╚════██║██║     ╚██╗ ██╔╝██║   ██║  ██╔╝ ██╔══██╗██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
  ███████║╚██████╗ ╚████╔╝ ╚██████╔╝ ██╔╝  ██║  ██║╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
  ╚══════╝ ╚═════╝  ╚═══╝   ╚═════╝ ╚═╝   ╚═╝  ╚═╝ ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

  -->

  <link rel="apple-touch-icon" sizes="76x76" href="{{~>asset_url url='images/icons/apple-touch-icon.png'~}}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{~>asset_url url='images/icons/favicon-32x32.png'~}}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{~>asset_url url='images/icons/favicon-16x16.png'~}}">
  <link rel="manifest" href="{{~>asset_url url='images/icons/site.webmanifest'~}}">
  <link rel="mask-icon" href="{{~>asset_url url='images/icons/safari-pinned-tab.svg'~}}" color="#000000">
  <link rel="shortcut icon" href="{{~>asset_url url='images/icons/favicon.ico'~}}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-config" content="{{~>asset_url url='images/icons/browserconfig.xml'~}}">
  <meta name="theme-color" content="#ffffff">

  <!-- <link rel="canonical" href="https://mpowerhealth.eu{{request.params.uri.pathname}}" /> -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3467930-30"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-3467930-30', {
    'send_page_view': true,
    'anonymize_ip': true,
    'cookieDomain': 'none',
    'custom_map': {
      'dimension1': 'hit_type',
      'dimension2': 'parent_document'
    }
  });

  {{#ifAny request.params.query.debug (contains request.url.hostname ".local") ~}}
  console.log('#### DEBUG MODE ON ####');
  console.log('Request:', {{{regexReplace (regexReplace (stringify request) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Route:', {{{regexReplace (regexReplace (stringify route) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Context:', {{{regexReplace (regexReplace (stringify context) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Data:', {{{regexReplace (regexReplace (stringify data) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  console.log('Menus:', {{{regexReplace (regexReplace (stringify @root.context.metaData.menus) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  {{#if errors.[0]}}
    console.error('Task Errors:', {{{regexReplace (regexReplace (stringify errors) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
  {{/if}}
  {{/ifAny ~}}
  </script>

  <link type="text/css" rel="stylesheet" href="{{~>asset_url url='libraries/leaflet/leaflet.css'~}}" />
  <link type="text/css" rel="stylesheet" href="{{~>asset_url url='libraries/fontawesome-pro/css/all.min.css'~}}">

  <link type="text/css" rel="stylesheet" href="{{~>asset_url url='main.css'}}">
</head>
<body class="mdc-theme--footer-dark-bg">
  <mpowerhealth-site>
    <div class="mdc-typography" style="background-image: url('{{~>asset_url url='images/mpower-header.png'~}}');">
      {{#ifAny request.params.query.debug (contains request.url.hostname ".local") ~}}
        {{#if errors.[0]}}
          <div style="z-index:100;position:fixed;top:0;right:0;padding:5px;background-color:#ff0000;color:#ffffff;">
            Route Task Errors (F12)
          </div>
        {{/if}}
        {{#if logs.[0]}}
          <div style="z-index:100;position:fixed;bottom:0;right:0;padding:5px;background-color:#0000ff;color:#ffffff;"
               onclick="document.querySelector('#route-debug-log').style.display='block';">
            Route Log
          </div>
          <div style="z-index:100;position:fixed;bottom:0;left:0;right:0;padding:5px;background-color:#ededed;color:#000000;overflow:auto;height:50vh;display:none;border-top:1px solid #cccccc;" id="route-debug-log">
            <a style="position:fixed;right:25px;" onclick="document.querySelector('#route-debug-log').style.display='none';">x</a>
<pre style="white-space: pre-wrap;">
{{~#each logs}}
{{{this}}}

{{/each~}}
</pre>
          </div>
        {{/if}}
      {{/ifAny}}

      <header class="mdc-top-app-bar" id="top-bar">
        <div class="container-fluid">
          <div class="mdc-top-app-bar__row mdc-top-app-bar__upper">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start mdc-top-app-bar__section--logo">
              <a href="{{#if (contains request.url.hostname ".local")}}https://mpowerhealth.local:8080{{else}}{{@root.context.metaData.site-configurations.default.url}}{{/if}}">
                <img src="{{~>asset_url url='images/logos/mpower.png'~}}" alt="mPower Health" />
              </a>
            </section>
            {{#compare @root.data.currentSite.name "!==" "default" ~}}
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-middle mdc-top-app-bar__section--partner">
              <img src="{{~>asset_url url=@root.data.currentSite.healthBoard.logo ~}}" alt="In partnership with {{@root.data.currentSite.healthBoard.title}}" />
            </section>
            {{/compare ~}}
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section--partner hide-sm">
              <a href="https://www.seupb.eu/iva-overview">
                <img src="{{~>asset_url url='images/logos/interreg-vi-logo.png'~}}" alt="INTERREG VA Programme" />
              </a>
            </section>
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end mdc-top-app-bar__section--nav hide-lg">
              <button class="mdc-top-app-bar__navigation-icon" data-drawer-target="#mobile-menu">
                <span class="far fa-fw fa-2x fa-bars"></span>
              </button>
            </section>
          </div>
          {{#compare @root.data.currentSite.name "!==" "default" ~}}
          <div class="mdc-top-app-bar__row mdc-top-app-bar__lower">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start mdc-top-app-bar__main">
              <div class="container-content v-margin">
                <h1 class="mdc-typography--headline3">{{@root.data.currentSite.description}}</h1>
              </div>
            </section>
          </div>
          {{/compare ~}}
          <div class="mdc-top-app-bar__row mdc-top-app-bar__lower">
            <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start mdc-top-app-bar__main hide-md hide-sm">
              {{#> components_tab_bar
                   extraClasses="mdc-tab-bar__auto-width"
                   id="main-tab-bar"}}
                {{> components_tab
                    url="/"
                    labelClasses="mdc-theme--on-primary"
                    active=(regexMatch @root.request.url.pathname "^/$" "gi")
                    label="Home"}}
                {{#compare @root.data.currentSite.name "default" ~}}
                {{#each @root.context.metaData.menus.corporate ~}}
                  {{>components_tab
                      url=(stripTrailingSlash path)
                      labelClasses="mdc-theme--on-primary"
                      active=(regexMatch @root.request.url.pathname route "gi")
                      label=label}}
                {{/each}}
                {{else}}
                {{#each @root.context.metaData.menus.localised ~}}
                  {{>components_tab
                      url=(stripTrailingSlash path)
                      labelClasses="mdc-theme--on-primary"
                      active=(regexMatch @root.request.url.pathname route "gi")
                      label=label}}
                {{/each}}
                {{/compare ~}}
              {{/components_tab_bar}}
            </section>
          </div>
        </div>
      </header>

      <aside class="mdc-drawer mdc-drawer--modal" id="mobile-menu" data-mdc-auto-init="MDCDrawer">
        <div class="mdc-drawer__content">
          <nav class="mdc-list">
            <a class="mdc-list-item {{#compare @root.request.url.pathname "/"}} mdc-list-item--activated{{/compare}}"
               href="/" aria-selected="true" tabindex="1">
              <span class="far fa-home mdc-list-item__graphic" aria-hidden="true"></span>
              Home
            </a>
            {{#compare @root.data.currentSite.name "default" ~}}
            {{#each @root.context.metaData.menus.corporate ~}}
              <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname path "gi")}} mdc-list-item--activated{{/if}}" href="{{stripTrailingSlash path}}" {{#if (regexMatch @root.request.url.pathname path "gi")}}aria-selected="true"{{else}}aria-hidden="true"{{/if}}>
                {{#if icon ~}}
                <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
                {{/if ~}}
                {{{label}}}
              </a>
            {{/each}}
            {{else}}
            {{#each @root.context.metaData.menus.localised ~}}
              <a class="mdc-list-item {{#if (regexMatch @root.request.url.pathname path "gi")}} mdc-list-item--activated{{/if}}" href="{{stripTrailingSlash path}}" {{#if (regexMatch @root.request.url.pathname path "gi")}}aria-selected="true"{{else}}aria-hidden="true"{{/if}}>
                {{#if icon ~}}
                <span class="far fa-{{icon}} mdc-list-item__graphic" aria-hidden="true"></span>
                {{/if ~}}
                {{{label}}}
              </a>
            {{/each}}
            {{/compare ~}}
          </nav>
        </div>
      </aside>

      <div class="mdc-drawer-scrim"></div>

      <div class="warning">
        <main class="main-body drawer-container-temporary">
          <div class="container-content t-margin-full b-padding-full t-padding">
            <h2 class="t-padding">Coronavirus (COVID-19) update</h2>
            <p>
              During this unprecedented time, we encourage all to follow Government guidelines and to stay at home. The mPower staff who are clinically trained have been diverted to work in support of the front-line services during this pandemic. The rest of our teams are working from home to keep both themselves and the public they serve healthy. Our support continues, mostly via telephone and digital communication and we encourage all who need support to get in touch with your local mPower contact. Contact details can be found here. As a project we support those who are most vulnerable to the virus, and therefore want to do all we can to help and support in any way we can.
            </p>
            <p>
              <strong>Stay safe, stay home and stay healthy and we’ll try to help you stay connected.</strong>
            </p>
          </div>
        </main>
      </div>

      <main class="mdc-theme--primary-light-bg main-body {{#if layoutParts.sidebar}}drawer-container-permanent{{else}}drawer-container-temporary{{/if}}">
        {{#if layoutParts.sidebar ~}}
        <aside class="mdc-drawer mdc-drawer--occasional" id="sidebar-temporary" data-menu-button=".filter-search-button">
          {{{layoutParts.sidebar}}}
        </aside>
        <div class="mdc-drawer-scrim"></div>
        {{/if ~}}

        {{{layoutParts.body}}}

        <a href="https://www.seupb.eu/iva-overview" class="hide-md hide-lg">
          <img src="{{~>asset_url url='images/logos/interreg-vi-logo.png'~}}" alt="INTERREG VA Programme" />
        </a>
        {{#compare @root.data.currentSite.name "default" ~}}
        <div class="container-content">
          <div class="partner-logos">
            <a href="http://www.cawt.com/"><img src="{{~>asset_url url='images/logos/partners/cawt.png' ~}}"></a>
            <a href="https://nhsnss.org/"><img src="{{~>asset_url url='images/logos/partners/nhs-nss.png' ~}}"></a>
            <a href="https://www.hse.ie/"><img src="{{~>asset_url url='images/logos/partners/hse.jpg' ~}}"></a>
            <a href="https://www.nhsaaa.net/"><img src="{{~>asset_url url='images/logos/partners/nhs-ayrshire-arran.png'~}}"></a>
            <a href="http://www.nhsdg.scot.nhs.uk"><img src="{{~>asset_url url='images/logos/partners/nhs-dumfries-galloway.png'~}}"></a>
            <a href="https://www.wihb.scot.nhs.uk/"><img src="{{~>asset_url url='images/logos/partners/nhs-western-isles.png'~}}"></a>
            <a href="http://www.southerntrust.hscni.net/"><img src="{{~>asset_url url='images/logos/partners/hsc-southern.png'~}}"></a>
            <a href="http://www.westerntrust.hscni.net/"><img src="{{~>asset_url url='images/logos/partners/hsc-western.png'~}}"></a>
            <a href="https://www.uhi.ac.uk/"><img src="{{~>asset_url url='images/logos/partners/uhi.png' ~}}"></a>
            <a href="https://scvo.scot"><img src="{{~>asset_url url='images/logos/scvo-black.svg'~}}" style="width:150px;height:auto;vertical-align:top;margin-top:1.6rem;"></a>
          </div>
        </div>
        {{/compare ~}}
      </main>

      <footer class="mdc-layout__footer mdc-theme--footer-bg mdc-theme--on-footer" style="background-image: url('{{~>asset_url url='images/mpower-communityscape.png'~}}');">
        <div class="container-content">
          <p class="smaller">
            A project supported by the European Union’s INTERREG VA Programme, managed by the Special EU Programmes Body (SEUPB).
          </p>
        </div>
      </footer>
    </div>
  </mpowerhealth-site>

  <script type="text/javascript">
  var $buoop = {required:{e:-3,f:-3,o:-3,s:-1,c:-3},insecure:true,unsupported:true,api:2018.07 };
  function $buo_f(){
    var e = document.createElement("script");
    e.src = "//browser-update.org/update.min.js";
    document.body.appendChild(e);
  };
  try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
  catch(e){window.attachEvent("onload", $buo_f)}
  </script>

  <script type="text/javascript" src="{{~>asset_url url='main.js'~}}"></script>

  <script>
    var mpowerhealth = null; readyListeners = [];
    $(document).ready(function() {
      mpowerhealth = new mPowerHealth.mPowerHealth({
        apiKey: "AIzaSyBWJ1dOz94gI_UvH0hJHHy0j_UlGz7V__A",
        authDomain: "mpower-health.firebaseapp.com",
        databaseURL: "https://mpower-health.firebaseio.com",
        projectId: "mpower-health",
        storageBucket: "mpower-health.appspot.com",
        messagingSenderId: "848695487785",
        appId: "1:848695487785:web:89e2a431712d53d4"
      });
      ready = true;
      readyListeners.forEach(function(listener) {
        listener();
      });
    });

    function registerReadyListener(listener) {
      if (mpowerhealth) {
        listener();
      } else {
        readyListeners.push(listener);
      }
    }

    {{#if @root.context.metaData.terms ~}}
    var terms = {{{safeStringify @root.context.metaData.terms}}};
    {{/if ~}}
  </script>

  {{{layoutParts.foot}}}
</body>
</html>